.root {
     -fx-background-color: linear-gradient(to top, #d3cce3, #e9e4f0);
}

#message{
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-effect: dropshadow(three-pass-box, purple, 0.0, 5.0, 0.4, 0.5);
    -fx-text-fill:black;   
}

#closeWindowButton{
    -fx-effect: dropshadow(three-pass-box, purple, 0.0, 5.0, 2.0, 2.0);
    -fx-text-fill: white; 
    -fx-font-weight: bold;
    -fx-font-size: 12;
    -fx-border-radius: 50%;
    -fx-background-radius:50%;
    -fx-background-color:red;
}

#closeWindowButton:hover{
  -fx-scale-x: 1.1;
  -fx-scale-y: 1.1;
  -fx-scale-z: 1.1;
}